html, body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    width: 100%;
}

.img1 {
    display: none;
}

#banner {
    font-family: Cinzel;
    height: 100vh;
    background: rgb(27, 27, 27);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    
}

.btn-primary {
    background-color: transparent;
    border-color: white;
    color: white;
    font-family: Cinzel;
}

h1 {
    font-size: 8.5vw;
    color: white;
    font-family: Cinzel;
}

h3 {
    font-size: 250%;
}

#ncDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.animatedBanner {

    background-image: none;
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, aqua, aqua, rgb(204, 2, 255),rgb(204, 0, 255), rgb(81, 0, 128), rgb(0, 0, 85), rgb(0, 0, 85));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#nameCard {

    color: white;
    text-align: center;
    width: 50%;
    position: absolute; 

}

#tag {
    color: white;
    text-align: center;
    font-family: Dancing Script;
    border-top: 1px;
    border-top-color: white;
    border-top-style: solid;
    padding-top: 2%;
}

#forwardBtn {
    
    text-align: center;
    font-family: Cinzel;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1px;
    
}

a:link {text-decoration: none; color: white;}

.nav-link {

    text-decoration: none; color: white;
    padding-right: 10%;

}

.nav-link:hover {
    color: rgb(255, 0, 191);
}

.navbar-toggler {

    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
}

#pawBtn {
    background-image: url("../images/cursorpaw.png");
    background-repeat: no-repeat;
    background-color: none;
    width: 4vw;
    height: 4vh;

}

.cursorCat {

    cursor: url("../images/cursorcat.png"), auto;
}

#paw {

    width: 7vh;
    bottom: 0;
    background-size: 100%;
    width: 100%;
    cursor: default;

}

#paw:hover {

    background-image: url("../images/pinkpaw.png");
    cursor: pointer;

}

#arrowspng {
    margin-top: 3%;
    width: 44%;
    margin-bottom: 2%;
}

.navbar {
    background-color: rgb(2, 1, 14);
    color: white;
    border-bottom: aqua;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#navBar {
    font-family: Cinzel;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-toggler-icon {
    color: aqua;
    font-size: 100%;
    padding-top: 17%;
}

#paw {

    margin-right: 2%;
    width: 25px;
}

#jquery {
    background: rgb(1, 1, 31);
}

h2 {
    
    text-align: center;
    font-family: Cinzel;
    color: white;
    
}

h5 {
font-family: Cinzel;
    color: white;
	
}

#portfolio {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
    background: transparent;
    border-width: 2px;
    color: white;
    margin-top: 5%;
    height: 558px;
}

.card-title {
    font-family: Cormorant;
    font-size: 200%;
}

#taylorProfile {
    margin-left: 18%;
    margin-top: 10%;
    width: 62%;
}

#about {
    margin-top: 3%;
}

#profileabout {
    text-align: left;
    color: white;
    font-family: Cormorant;
    font-size: 125%;
}

.prog {
	align-contents: center;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 7%;
}

 .progress-bar {
	
	margin-bottom: 3%;
}

.progress1 {
	margin-top: 2%;
	background-color: none;
}

.progress2 {
	background-color: none;
}

.progress3 {
	background-color: none;
}

#footer {
    width: 100%;
    height: 27vh;
    background-color: rgb(2, 1, 14);
    margin-top: 3%;
    color: white;
    border-top: aqua;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    
}

#contactIcons {
   margin-top: 7vh;
   text-align: center;
}

#li {

    width: 51px;
}


#gh {
  
    width: 51px;
    margin-left: 3vw;
}

#so {
 
    width: 51px;
    margin-left: 3vw;
}

#copyright {
    text-align: center;
    font-family: Cinzel;
    color: white;
    margin-top: 5vh;
}


/* Media Query for Mobile Devices */

@media screen and (min-width: 601px) {
    #tag {
      font-size: 3vw;
    }

    h1 {
        font-size: 5vw;
    }

    #forwardBtn {
        font-size: 2vw;
        max-width: 24vw
    }

  }

  @media screen and (max-width: 600px) {
    #tag {
      font-size: 6.5vw;
    }

    h1 {
        font-size: 12vw;
    }

    #forwardBtn {
        font-size: 4.25vw;
    }

    #paw {
        display: none;
    }

    #taylorProfile {
        margin-top: 0%;
    }

  }
