html, body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    width: 100%;
}

.img1 {
    display: none;
}


.btn-primary {
    background-color: transparent;
    border-color: white;
    color: white;
    font-family: Cinzel;
}

h3 {
    font-size: 250%;
}

.videowrap {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-image: url('../images/covermobile.png');
    background-size: cover;
}
  
  .video-background { 
object-fit: cover;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 0;

  }

  video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
  }


#tag {
    color: white;
    text-align: center;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: white;
    font-family: 'Raleway', sans-serif;
    padding-top: 2%;
    width: 60%;
    margin: auto;
    font-size: 30%;

}

a:link {text-decoration: none; color: white;}

.nav-link {

    text-decoration: none; color: white;
    padding-right: 10%;

}

.nav-link:hover {
    color: rgb(255, 0, 191);
}

.navbar-toggler {

    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
}

#pawBtn {
    background-image: url("../images/cursorpaw.png");
    background-repeat: no-repeat;
    background-color: none;
    width: 4vw;
    height: 4vh;

}

.cursorCat {

    cursor: url("../images/cursorcat.png"), auto;
}

#paw {

    width: 7vh;
    bottom: 0;
    background-size: 100%;
    width: 100%;
    cursor: default;

}

#paw:hover {

    background-image: url("../images/pinkpaw.png");
    cursor: pointer;

}

.navbar {
    background-color: rgb(2, 1, 14);
    color: white;
    border-bottom: aqua;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#navBar {
    font-family: Cinzel;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-toggler-icon {
    color: aqua;
    font-size: 100%;
    padding-top: 17%;
}

#paw {

    margin-right: 2%;
    width: 25px;
}

.portfolio {
    background-color: rgb(2, 1, 14);

}

.wrap {
    background-color: rgb(2, 1, 14);

}

table {
    text-align: left;
    padding: 10%;
}

.hide {
    display: none;
}

h2 {
    color: white;
    font-size: 5rem;
    border-bottom: solid;
    border-bottom-width: 3px;
    font-family: Koulen;
    width: 30%;
    margin: 0 auto 3% auto;
    text-align: center;
    align-content: center;

}

.h2 {
    color: white;
    font-size: 5rem;
    border-bottom: solid;
    border-bottom-width: 3px;
    font-family: Koulen;
    width: 30%;
    margin: 0 auto 3% auto;
    text-align: center;
    align-content: center;
}

h4 {
    font-family: Koulen;
    color: white;
    font-size: 3rem;
}


h3 {
    font-family: Koulen;
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow:1px 1px 0px rgba(0, 0, 0, 0.8);

}

.leftport {
    text-align: center;
    padding-left: 5%;
}

.rightport {
    text-align: center;
    padding-right: 5%;
}

.examplelink:hover {
    cursor: pointer;
}

.example {
    color: white;
    font-family: poppins;
    font-size: 1rem;
}

.fa-5x {
    font-size: 7.5rem!important;
    text-align: center;

}

.buttonwrap {
    text-align: center;
    display: inline-block;
    align-content: center;
    justify-content: center;
}

.knock-btn {
    width: 62%;
    display: block;
}


#html5:hover{
    color: rgb(255, 0, 191)!important;
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

  #css:hover{
    color: rgb(255, 0, 191)!important;
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

  #javascript:hover{
    color: rgb(255, 0, 191)!important;
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

  #node:hover{
    color: rgb(255, 0, 191)!important;
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

  #angular:hover{
    color: rgb(255, 0, 191)!important;
    animation: bounce 2s ease infinite;
    cursor: pointer;

  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }

  #react:hover{
    color: rgb(255, 0, 191)!important;
    animation: bounce 2s ease infinite;
    cursor: pointer;

  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }


.wrap {
    margin-top: 3%;
    margin-bottom: 3%;
}


#about {
    margin-top: 3%;
}

#profileabout {
    text-align: left;
    color: white;
    font-family: Poppins;
    font-size: 125%;
}

.prog {
	align-content: center;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 7%;
}

#profile {
    display: flex;
    align-items: center;
    align-content: center;
}

 .progress-bar {
	
	margin-bottom: 3%;
}

.progress1 {
	margin-top: 2%;
	background-color: none;
}

.progress2 {
	background-color: none;
}

.progress3 {
	background-color: none;
}

#footer {
    width: 100%;
    height: 27vh;
    margin-top: 3%;
    color: white;
    border-top: aqua;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    background-color: rgb(2, 1, 14);
    
}

#contactIcons {
   margin-top: 7vh;
   text-align: center;
}

#li {

    width: 51px;
}


#gh {
  
    width: 51px;
    margin-left: 3vw;
}

#so {
 
    width: 51px;
    margin-left: 3vw;
}

#copyright {
    text-align: center;
    font-family: Cinzel;
    color: white;
    margin-top: 5vh;
}




.knockingtext {
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    rotate: -20deg;
    font-size: 4rem;
    margin-top: 5%;
    text-align: center;
    text-shadow: 3px 4px 6px #161616;

    
}

.knock-btn {
    position: relative;
    text-align: center;

}

.buttonhtml {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-family: Poppins;
    font-size: 150%;
    color: rgb(2, 1, 14);
    width: 90%;
}

.knockarrow {
    width: 30%;
    display: flex;
    margin: auto;
}

  .knock {
      margin: auto;
      display: flex;
  }





  .doorbtn {
    background-image: URL("../images/notpushed.png");
    background-repeat: no-repeat;
  }
  
  .doorbtn:hover {
    cursor: grab;
    background-image: URL("../images/pushed.png");
    background-repeat: no-repeat;

  }

  .knocksequence {
    font-family: 'Delicious Handrawn', cursive;
    color: white;
    font-size: 4rem;
    margin-top: 5%;
    text-align: center;
    text-shadow: 3px 4px 6px #161616;

  }

  .knockarrowdown {
    display: none;
}

  /* Media Query for Mobile Devices */

@media screen and (min-width: 601px) {
    #tag {
      font-size: 3vw;
    }

    h1 {
        font-size: 5vw;
    }

  }

  @media screen and (max-width: 600px) {
    #tag {
      font-size: 6.5vw;
      width: 80%;
    }

    #paw {
        display: none;
    }

    #video {
        display: none;
    }

    .videowrap {
        background-image: url('../images/covermobile.png');
        background-size: cover;
        z-index: 1;
    }

    .example {
        font-size: 0.75rem;
    }
    
    .fa-5x {
        font-size: 6rem!important;    
    }

    #profile {
        margin-top: 4%;
        margin-bottom: 4%;
    }

    video::-webkit-media-controls-start-playback-button {
        display: none !important;
        -webkit-appearance: none;
      }

    h1 {
        font-size: 3rem!important;
    }

    h2 {
        width: 50%;
        margin-bottom: 5%;
        font-size: 2.75rem;
    }

    .h2 {
        width: 50%;
        margin-bottom: 5%;
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    .knockingtext {
        rotate: 0deg;
        font-size: 3rem;
        margin-bottom: 5%;
    }

    .knockarrow {
        display: none;
    }

    .knockarrowdown {
        display: flex;
        width: 70%;
        rotate: 90deg;
        margin: auto auto 10% auto;
    }

    .knock {
    width: 40%;
    margin-bottom: 5%;
    }

    .knockjoke {
        margin-bottom: 5%;
    }

    .jokebtn {
        margin-bottom: 10%;
    }

  }

  .additional {
      color: white;
      font-family: Poppins;
    font-size: 125%;
    align-self: center;
 
   
  }

  .proficiencies {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .atable {
   display: flex;
   justify-content: center;
   width: 100%;
   
  }

  .tdleft {
    width: 40%;
    padding-bottom: 2%;
    padding-right: 5%;
  }

  .tdright {
      width: 60%;
  }

    h4 {
    text-align: center;
    }

    .introwrap {
        z-index: 1;
    }

    .introduction {
        z-index: 2;
      }

    h1 {
        font-family: Cinzel;
        color: white;
        margin: 0 auto;
        text-align: center;
        font-size: 6vw;
    }